# cppcoreguidelines-avoid-magic-numbers has too many annoying false positives, so I disabled it.

Checks:
  -*,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-magic-numbers,
  hicpp-*,
  performance-*,
  portability-*
WarningsAsErrors: true
AnalyzeTemporaryDtors: false
