# cppcoreguidelines-avoid-magic-numbers has too many annoying false positives, so I disabled it.

Checks: -*,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  hicpp-*,
  performance-*,
  portability-*
WarningsAsErrors: true
AnalyzeTemporaryDtors: false
