Checks:
  -*,
  cert-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-magic-numbers,
  hicpp-*,
  performance-*,
  portability-*
WarningsAsErrors: true
AnalyzeTemporaryDtors: false
